.banner {
    background: var(--blue-linear);
    text-align: center;
    color: var(--white);
    padding: 2.5rem 2rem;
}

.banner__title {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1rem;
}

.banner__text {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    padding: 1rem;
}

.banner__search {
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 26px;
    padding: 1.5rem;
    width: 100%;
}

.banner__search::placeholder {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: var(--white);
    background-image: url("/img/Pesquisa.svg");
    background-repeat: no-repeat;
    background-position: 1em;
}

@media screen and (min-width: 1024px) {
    .banner__title {
        font-size: 36px;
    }

    .banner__search {
        width: 50%;
        border-radius: 26px;
    }
    
}