.header {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.logo__text__title {
    display: flex;
    align-items: center;
}
.container__hamburger {
    width: 24px;
    height: 24px;
    background-image: url("/img/Menu.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__button:checked~ .container__gradient > .container__hamburger {
    background-image: url("/img/menuAberto.svg");
}
.container__button:checked~.container__gradient {
    background: var(--blue-linear);
}
.container__image {
    padding: 10px;
}

.list-menu {
    position: absolute;
    top: 100%;
    background-color: var(--white);
    width: 50%;
    border-radius: 5px;

}

.container__button:checked~.list-menu {
    display: block;
}

.list-menu__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: var(--orange);
}

.list-menu__link {
    text-decoration: none;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    background: var(--blue-linear);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.list-menu__title,
.list-menu__itens {
    padding: 1em;
}
.header__title,
.container__button,
.list-menu,
.header__responsive,
.desktop__header__text {
    display: none;
}

@media screen and (min-width: 1024px) {

    .header__title {
        display: block;
        font-family: var(--secondary-font);
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
    }

    .container__hamburger {
        display: none;
    }

    .header__title__negrito {
        font-weight: 700;
    }

    .header__responsive {
        display: flex;
        align-items: center;
    }
    .responsive__categories{
        background: white;
    }
    .checkbox__categorias:checked~.responsive__gradient>.responsive__categories {
        background: var(--blue-linear);
        color: var(--white);
    }

    .list-menu__responsive{
        position: absolute;
        display: none;
        top: 100%;
        background-color: var(--white);
        border-radius: 3px;
    }
    .checkbox__categorias:checked~.list-menu__responsive {
        display: block;
        width: auto;

    }
    .list-menu__itens:hover {
        background: var(--blue-linear);
    }

    .list-menu__itens:hover > .list-menu__link {
        -webkit-text-fill-color: var(--white);
    }

    .responsive__header__itens {
        text-transform: uppercase;
        padding: 1em 1em;
        text-decoration: none;
        color: var(--black);
    }

    .container {
        margin: 0 1.5em;
    }

    .favorites__icon,
    .checkbox__categorias {
        display: none;
    }
}

@media screen and (min-width: 1728px){

    .container__links{
        display: flex;
    }
    .fast__acess {
        /* Ao aplicar o margin auto tanto left quanto right ele preenche o lado escolhido assim jogando os itens para o lado contrario */
        margin-right: auto;
    }
    .desktop__header__text {
        display: block;
        
    }

    .container__links__1728 {
        align-items: center;
        text-decoration: none;
        color: var(--black);
        margin: 0 1.5em 0 0;
    }
}